<h1>Movie List</h1>

<table>
  <thead>
  <td>Title</td>
  <td>Blurb</td>
  <td>Date Released</td>
  <td>Country of Origin</td>
  <td>Showing Start</td>
  <td>Showing End</td>
  </thead>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.blurb %></td>
      <td><%= movie.date_released %></td>
      <td></td>
    </tr>
  <% end %>
</table>